<div class="d-flex justify-content-center align-items-center flex-column container comparison-container">
    <div class="d-flex justify-content-center align-items-center return-container">
        <a routerLink="/">
            <button class="btn btn-outline-warning return-button">
                Retornar a lista
            </button>
        </a>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center"
            [ngClass]="{
                'pokemon-draw': pokemon1TotalStats === pokemon2TotalStats
            }" >
            <div *ngIf="pokemon1TotalStats === pokemon2TotalStats" class="comparison-result-container" >Empate</div>
            <div class="d-flex justify-content-center align-items-center">
                <div class="d-flex justify-content-center align-items-center card-container flex-column"
                    [ngClass]="{
                        'pokemon-winner': pokemon1TotalStats > pokemon2TotalStats
                    }" >
                    <div *ngIf="pokemon1TotalStats > pokemon2TotalStats" class="comparison-result-container" >Vencedor</div>
                    <pokemon-card [pokemonId]="pokemonId1"
                    (totalStat)="getPokemon1TotalStat($event)"></pokemon-card>
                </div>
                <div class="d-flex justify-content-center align-items-center card-container flex-column"
                [ngClass]="{
                        'pokemon-winner': pokemon2TotalStats > pokemon1TotalStats
                    }" >
                    <div *ngIf="pokemon2TotalStats > pokemon1TotalStats" class="comparison-result-container" >Vencedor</div>
                    <pokemon-card [pokemonId]="pokemonId2"
                    (totalStat)="getPokemon2TotalStat($event)"></pokemon-card>    
                </div>
            </div>
        </div>
    </div>
</div>