.input-field {
    margin: 10px;
    width: 150px;
}

.previous-next-image {
    height: 24px;
    width: 24px;
}

.previous-next-button {
    border: none;
    background-color: rgba(240, 248, 255, 0);
}

.list-container {
    background-color: #e0e1e271;
    border-radius: 9px;
    padding: 20px;
}

.search-container {
    margin-bottom: 10px;
}

.no-match-text {
    margin: 20px;
}

.return-button{
    margin-right: 5px;
}