<div class="d-flex flex-column align-items-center">    
    <div class="d-flex justify-content-center">
        <button (click)="onPreviousClick()" class="previous-next-button">
            <img [src]="previousArrowSrc" class="previous-next-image">
        </button>
        <section class="align-self-center">
            Mostrando: 
        </section>
        <input type="text" [(ngModel)]="listLimit"
        (enter)="changeListLimit()" class="input-field form-control">
        <button (click)="onNextClick()" class="previous-next-button">
            <img [src]="nextArrowSrc" class="previous-next-image">
        </button>
    </div>
    
    <div class="container list-container">
        <div class="d-flex justify-content-between search-container">
            <input class="form-control me-2" 
                type="search" placeholder="Nome do Pokemon" aria-label="Search"
                [(ngModel)]="pokemonSearch">
            <button class="btn btn-outline-success" type="submit">
                Buscar
            </button>
            <button (click)="onReturnClick()" *ngIf="returnToList" >

            </button>
        </div>
        <div *ngFor="let pokemon of pokemonArray">
            <pokemon-list-item
            [pokemonItem]="pokemon"
            ></pokemon-list-item>
        </div>
    </div>
</div>
    