<div class="d-flex flex-column pokemon-container">
    <div class="d-flex justify-content-center pokemon-name">
        <div>
            {{ pokemonDetails?.name | titlecase }}
        </div>
    </div>
    <img [src]="pokemonDetails?.sprites?.front_default"
    class="pokemon-image">
    <div class="d-flex justify-content-center">
        <p *ngFor="let type of pokemonDetails?.types"
            class="pokemon-type"
            [ngStyle]="{
                'backgroundColor': typeColorMap[type.type.name].background, 
                'color': typeColorMap[type.type.name].fontColor
            }">
            {{ type.type.name | titlecase }}
        </p>
    </div>
    <div class="pokemon-stats">
        <div *ngFor="let stat of pokemonDetails?.stats"
            class="d-flex justify-content-between">
            <div>
                {{ stat.stat.name | titlecase | removeDash }}
            </div>
            <div>
                {{ stat.base_stat }}
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center pokemon-total-stat">
        Total stats: {{ statsTotal }}
    </div>
</div>