.clear-button {
    border: none;
    background-color: rgba(240, 248, 255, 0);
    margin: 5px;
}

.clear-button-image {
    width: 20px;
    height: 20px;
    background-color: aliceblue;
    border-radius: 50%;
}

.versus-image {
    width: 70px;
    height: 70px;
    margin-left: 20px;
    margin-right: 20px;
}

button > img{
    vertical-align: middle;
}

.pokemon-box {
    border-radius: 3px;
    width: 100px;
    height: auto;
}

.compare-container {
    border-radius: 18px;
    background-color: #7aaef371;
    margin-left: 20px;
    padding: 10px;
    /* width: 40rem; */
    height: 150px;
}

.compare-button {
    margin-left: auto;
    margin-right: 20px;
}
 
@media only screen and (max-width: 1200px) {
    .pokemon-box {
        width: 80px;
    }   
}

@media only screen and (max-width: 768px) {
    .compare-container {
        margin-top: 10px;
        margin-left: 0px;
    }
} 