<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img [src]="logoSrc" class="logo">
    </a>
  </div>
</nav>

<div class="d-flex justify-content-center">
  <div *ngIf="showComparison"
    class="container d-flex justify-content-around comparison-info">
    <div class="text-container">
      <section class="text-content">
        {{ text }}
      </section>
    </div>
    <div>
      <comparison-box></comparison-box>
    </div>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>
