nav {
    background-color: #619ff1;
}

.comparison-info {
    margin: 40px;
}

.logo {
    background-color: #7aaef300;
    height: 100px;
}

.text-container {
    border-radius: 18px;
    background-color: #7aaef371;
}

.text-content {
    margin: 10px;
}