nav {
    background-color: #619ff1;
}

.comparison-info {
    margin: 50px;
}

.logo {
    background-color: #7aaef300;
    height: 100px;
}

.input-field {
    margin-left: 10px;
    margin-right: 10px;
    width: 150px;
    
}

.text-container {
    border-radius: 18px;
    background-color: #7aaef371;
}

.text-content {
    margin: 10px;
}

.previous-next-image {
    height: 24px;
    width: 24px;
}

.previous-next-button{
    border: none;
    background-color: rgba(240, 248, 255, 0);
}