<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">{{ name }}</a>
    <form class="d-flex">
      <input class="form-control me-2" 
      type="search" placeholder="Search" aria-label="Search"
      [(ngModel)]="pokemonSearch">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<div *ngIf="showComparison"
 class="container d-inline-flex justify-content-around">
  <section>
    {{ text }}
  </section>
  <div>
    <comparison-box></comparison-box>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>

  <div class="d-inline-flex justify-content-center">
    <button (click)="onPreviousClick()">
      <img [src]="previousArrowSrc">
    </button>
    <input type="text" [placeholder]="listLimitText" [(ngModel)]="listLimit"
    (enter)="changeListLimit()">
    <button (click)="onNextClick()">
      <img [src]="nextArrowSrc">
    </button>
  </div>
</div>
