.return-button{
    margin-right: 50px;
}

.details-buttons-container {
    padding: 10px;
    margin: 10px;
    width: fit-content;
    background-color: #eeeeee;
}

.pokemon-container{
    padding-bottom: 10px;
}