<div class="container">
    <div class="d-flex justify-content-center align-items-center details-buttons-container">
        <a routerLink="/">
            <button class="btn btn-outline-warning return-button">
                Retornar a lista
            </button>
        </a>
        <button class="btn btn-outline-danger"
            (click)="addPokemonToCompare()" >
            Comparar Pokemon
        </button>
    </div>

    <div class="d-flex justify-content-center">
        <pokemon-card [pokemonId]="pokemonId"></pokemon-card>
    </div>
</div>
    